@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --brand-pink: #FF4D6D;
  --brand-green: #4FD1C5;
  --brand-yellow: #FFE066;
  --brand-star: #FFB200;
  --brand-orange: #FE925A;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  --color-brand-pink: var(--brand-pink);
  --color-brand-green: var(--brand-green);
  --color-brand-yellow: var(--brand-yellow);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #ffffff;
  --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;

  --color-brand-pink: var(--brand-pink);
  --color-brand-green: var(--brand-green);
  --color-brand-yellow: var(--brand-yellow);
  --color-brand-star: var(--brand-star);
  --color-brand-orange: var(--brand-orange);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
